@model IEnumerable<Camp.Models.CamperModel>
@using Resources;
@using Web.Controllers;

@section scripts {
	@Scripts.Render("~/bundles/camper")
}

@{
	ViewBag.Title = Campers.IndexTitle;
}

<div ng-view ng-app="campForDisabledApp"></div>

