@using Resources
@{
    ViewBag.Title = Home.AboutTitle;
}


<p>
    @Html.Raw(Home.AboutDescription)
</p>


<table style="border:0">
    <tr>
        <td colspan="2" style="border:0">
            <h2>@Home.AboutTitle</h2>
        </td>
    </tr>

    <tr>
        <td style="border:0; vertical-align:top">
            <img src="../../Content/Images/MG.jpg" width="150"/>
        </td>

        <td style="border:0; vertical-align:top; padding:0px" >
            <h3 style="margin-top:5px">Maxim Golovashevich</h3>
            <b>Team Lead, Sr.Software Engineer</b><br /><br />
			    <a href="http://www.linkedin.com/in/golovashevich">LinkedIn</a><br />
			    <a href="skype://golovashevich">Skype</a>
			<p>Overall 14 years of working experience.<br />
Expertise in OOP/Refactoring, .NET Framework (C#), TDD/Unit Testing, Agile Development and process (SCRUM),
				WinForms, ASP.NET<br />
Skills in managing small teams (3-5 people)<br />
Certified SCRUM master</p>
        </td>
    </tr>

     <tr>
        <td style="border:0; vertical-align:top">
            <img src="../../Content/Images/ML.jpg" width="150"/>
        </td>

        <td style="border:0; vertical-align:top; padding:0">
            <h3 style="margin-top:5px">Maxim Lyashenko</h3>
            <b>Software Engineer</b>
            <p><text>
            2 years experience as Software Engineer <br />
Expertise in .NET Framework (C#)
            </text></p>
        </td>
    </tr>

     <tr>
        <td style="border:0; vertical-align:top">
            <img src="../../Content/Images/JG.jpg" width="150"/>
        </td>

        <td style="border:0; vertical-align:top; padding:0">
            <h3 style="margin-top:5px">Jane Golovashevich</h3>
            <b>Jr.QA</b>
            <p><text>
            1 year experience as Junior QA<br />
			Manual testing, positive and negative testing, new feature testing.

            </text></p>
        </td>
    </tr>
</table>

