@using Resources
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@Home.HomeWelcomeMessage</h2>
            </hgroup>
        </div>
    </section>
}
@Html.Raw(String.Format(Home.HomeDescription, Html.ActionLink(Home.AboutTitle, "About")))
