<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/golovashevich/CampForDisabled</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>nuget.exe restore </command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.26">
      <msBuildName>MSBuild-default</msBuildName>
      <msBuildFile></msBuildFile>
      <cmdLineArgs></cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <org.jenkinsci.plugins.MsTestBuilder plugin="mstestrunner@1.3.0">
      <msTestName>(Default)</msTestName>
      <testFiles>Web.Tests/bin/Debug/Web.Tests.dll
Web.Tests/bin/Debug/Validation.Tests.dll</testFiles>
      <categories></categories>
      <resultFile>TestResult_Validation.trx</resultFile>
      <cmdLineArgs>/noisolation</cmdLineArgs>
      <continueOnFail>false</continueOnFail>
    </org.jenkinsci.plugins.MsTestBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>